@use "variables" as vars;


/* -------------NAV Menu ----------------- */
.main-container {
	position: relative;
}

.menu-bar {
	background-color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 10;
}
.nav-menu > li > a {
	text-decoration: none;
	color: white;
}
.logo {
	width: 32px;
	height: 27px;
	margin-left: 10px;
}
.nav-menu {
	color: white;
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	gap: 10px;
}
.nav-menu li a:hover {
	background-color: antiquewhite;
	color: orangered;
}
