// variabelen

// formaat
$offset: 50px;

// colors
$blockBackground: #4F9281;
$headTextColor: #FAF0DB;
$colorPrimaryNumbers: #00FFFF;

// fontsize
$h1Fontsize: clamp(1rem, 5vw, 2rem);
$h2Fontsize: clamp(1rem, 4vw, 2rem);
$h3Fontsize: clamp(1rem, 3vw, 1.8rem);
$pFontsize: clamp(1rem, 1.5vw, 1.5rem);

// filelocation
$imageLocation: "images";